@model MvcBindingApp.Models.User

<h2>Enter Your Details</h2>

<form method="post" asp-controller="User" asp-action="Create" style="border: 1px solid #ccc; padding: 20px; width: 300px;">
    
    <h3>Basic Info</h3>
    <label>First Name:</label><br />
    <input type="text" asp-for="FirstName" required /><br /><br />

    <label>Last Name:</label><br />
    <input type="text" asp-for="LastName" required /><br /><br />

    <label>Age:</label><br />
    <input type="number" asp-for="Age" required /><br /><br />

    <h3>Address Info</h3>
    <label>Street:</label><br />
    <input type="text" asp-for="UserAddress.Street" required /><br /><br />

    <label>City:</label><br />
    <input type="text" asp-for="UserAddress.City" required /><br /><br />

    <label>Zip Code:</label><br />
    <input type="text" asp-for="UserAddress.ZipCode" required /><br /><br />

    <button type="submit" style="background-color: blue; color: white; padding: 5px 10px;">Submit Data</button>

</form>